<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}
  ind
{% endblock %}
<main>
  <div id="order" style="display: none;">
    <h2>Lista de pedidos:</h2>
    <ul id="orderList"></ul>
    <button onclick="openModal()" class="Finalizar-pedido"><a href="#">Finalizar</a></button>
  </div>

  <div id="modal-container" class="modal-container">
    <div class="modal">
      <p>Realmente, deseja finalizar?</p>
      <button class="fecharsim" id="fechar">Sim</button>
      <button class="fechar" id="fechar">Não</button>
    </div>
  </div>
</main>
<section>
  <!-- Biotécnica -->
  <ul id="menu">
    <li onclick="toggleSubMenu('subMenu')" hidden>
      <a href="#" title="CB350i"><img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenu1')" hidden>
      <a href="#" title="CB400i"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>

    <!-- Labtec -->
    <li onclick="toggleSubMenu('subMenucol1')" hidden>
      <a href="#" title="CoL1"><img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucol2')" hidden>
      <a href="#" title="CoL2"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucol4')" hidden>
      <a href="#" title="CoL4"><img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucol1-v2')" hidden>
      <a href="#" title="CoL1 v2"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucol2-v2')" hidden>
      <a href="#" title="CoL2 v2"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucol4-v2')" hidden>
      <a href="#" title="CoL4 v2"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>

    <!-- Metrolab -->
    <li onclick="toggleSubMenu('subMenucm25v4')" hidden>
      <a href="#" title="CM250 v4"><img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucm25v5')" hidden>
      <a href="#" title="CM250 v5"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucm32')" hidden>
      <a href="#" title="CM320i"><img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenue32')" hidden>
      <a href="#" title="e32"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>

    <!-- Mindray -->
    <li onclick="toggleSubMenu('subMenucl9')" hidden>
      <a href="#" title="Clia900"><img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucl10')" hidden>
      <a href="#" title="Clia1000"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>

    <li onclick="toggleSubMenu('subMenucl20')" hidden>
      <a href="#" title="Clia2000"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucmd6')" hidden>
      <a href="#" title="CMD600i"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucmd8')" hidden>
      <a href="#" title="CMD800i"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucmd8x1')" hidden>
      <a href="#" title="CMD800x1"><img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucmd8x2')" hidden>
      <a href="#" title="CMD800x2"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucmd20x1')" hidden>
      <a href="#" title="CMD2000x1"><img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenuc19')" hidden>
      <a href="#" title="Counter 19"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenuc29')" hidden>
      <a href="#" title="Counter 29"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenuc31')" hidden>
      <a href="#" title="Counter 31"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenucxs')" hidden>
      <a href="#" title="Counter XS 20"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>

    <!-- Rayto -->
    <li onclick="toggleSubMenu('subMenucor')" hidden>
      <a href="#" title="COR50"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>

    <!-- Thermo -->
    <li onclick="toggleSubMenu('subMenuct3')" hidden>
      <a href="#" title="CT300i"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
    <li onclick="toggleSubMenu('subMenuct6')" hidden>
      <a href="#" title="CT600i"><img src="/auto-blue-machine-drift-wallpaper-preview.jpg" alt="" /></a>
    </li>
  </ul>

  <div class="content">
    <!-- Peças CB350i -->
    <div id="columnLeft">
      <ul id="subMenu" class="submenu" hidden>
        <h2>499cb35 - Carenagem completa CB350i</h2>
        <li onclick="toggleSubMenu('Sub1Menu')">
          <a href="#">411 - Bandeja de reagente BT (Branca Lisa)</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover" />
        </li>
        <span class="addlist"><img src="/addlist.png" alt="" /></span>
        <li onclick="toggleSubMenu('Sub2Menu')">
          <a href="#">430 - Painel traseiro (cor branco)</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-1" />
        </li>
        <li onclick="toggleSubMenu('Sub3Menu')">
          <a href="#">470 - Base principal (cores branco, vermelho e cinza)</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub4Menu')">
          <a href="#">471 - Frente do Monitor (cor cinza) 2pçs</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub5Menu')">
          <a href="#">473 - Tampa da bandeja de reação (cor cinza)</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub6Menu')">
          <a href="#">474 - Tampa da gaveta do ISE (cor cinza)</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub7Menu')">
          <a href="#">475 - Capa do braço (cor vermelho) 2pçs</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub8Menu')">
          <a href="#">477 - Painel principal (cor branco)</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub9Menu')">
          <a href="#">478 - Porta do reagente</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub10Menu')">
          <a href="#">479 - Porta do módulo ISE</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub11Menu')">
          <a href="#">481 - Base Inferior</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub12Menu')">
          <a href="#">482 - Chapa traseira estação de lavagem</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub13Menu')">
          <a href="#">483 - chapa traseira estação tangencial fan</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub14Menu')">
          <a href="#">484 - chapa estrutural</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub15Menu')">
          <a href="#">485 - protetor filtro de linha</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub16Menu')">
          <a href="#">486 - protetor fonte</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub17Menu')">
          <a href="#">487 - torre suporte bandeja 7pçs</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub18Menu')">
          <a href="#">488 - suporte bandeja reagente 2pçs</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub19Menu')">
          <a href="#">489 - suporte bandeja reação 3pçs</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub20Menu')">
          <a href="#">490 - Chapa de base reação</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub21Menu')">
          <a href="#">491 - Chapa de base bandeja de soro</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub22Menu')">
          <a href="#">492 - Chapa frontal</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
        <li onclick="toggleSubMenu('Sub23Menu')">
          <a href="#">493 - Estrutura do módulo ISE 3pçs</a>
          <img src="/bmw-m5-ind-distribution-car-tuning-hd-wallpaper-preview.jpg" alt="Imagem" class="imagem-hover-2" />
        </li>
      </ul>
    </div>
  </div>

  <!-- Slideshow container -->
  <div class="slideshow-container">
    <a href="#" title="CB350i">
      <div onclick="toggleSubMenu('subMenu')" class="mySlides">
        <img src="acura.jpg" alt="Slide 1" />
      </div>
    </a>
    <a href="#" title="CB400i">
      <div onclick="toggleSubMenu('subMenu1')" class="mySlides">
        <img src="s2000.jpg" alt="Slide 2" />
      </div>
    </a>
    <a href="#" title="CoL1">
      <div onclick="toggleSubMenu('subMenucol1')" class="mySlides">
        <img src="skyline.jpg" alt="Slide 3" />
      </div>
    </a>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
  </div>

</section>

</body>
</html>